<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Bem vindx!</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae obcaecati nihil vel,
                dicta ullam esse
                voluptates vero cum perspiciatis deserunt numquam ipsam consequuntur id architecto velit libero
                blanditiis consequatur harum.</p>
        </div>
    </div>
</div>
<div class="parallax"></div>
<div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-outline-dark" routerLink='/contato'>CONTATO</button>
    </div>
</div>